
  body {
    margin: 0;
    font-family: "Signika", sans-serif;
    color: rgb(0, 0, 0);
    background: #202731;
    overflow-x: hidden;
  }

  /* background */
  section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
  }


  .spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .layer1 {
    background-image: url('../assets/layer1.svg');
  }
  .flip {
    transform: rotate(180deg);
  }

  .blob-motion {
    position: absolute;
    transform: translateY(-20%);
    z-index: 0;
  }

  .blob-content {
    z-index: 1;
  }

  .blobs {
    width: 100%;
    background: url('../assets/blobs.svg') no-repeat bottom / cover;
  }
  /* END background */



  /* content form bmi */
  .box {
    width: 700px;
    background: #fafafa;
    border-radius: 12px;
    text-align: center;
    box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.5);
    margin-top: -10rem;

  }


  h1 {
    color: rgba(255, 0, 0, 0.7);
    font-weight: bold;
    font-size: 36px;
    padding: 30px 0;
    font-family: "Kalnia Glaze", serif;
    letter-spacing: px;
  }
  
/* ----------- */
    .content {
        padding: 0 30px;
        
    }
    /* ------ INPUT ------ */
    .input {
        background: #fff;
        box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        padding: 20px 0;
        margin-bottom: 20px;
    }.input label {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        margin-bottom: 20px;
    }.input input {
        outline: none;
        border: none;
        border-bottom: 1px solid #000000;
        width: 50%;
        text-align: center;
        font-size: 28px;
        font-family: "Nunito", sans-serif;
    }.inputW {
        background: #fff;
        box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        padding: 10px 0;
        margin-bottom: 20px;
    }.inputW label {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        margin-bottom: 20px;
    }.inputW input {
        outline: none;
        border: none;
        border-bottom: 1px solid #000000;
        width: 50%;
        text-align: center;
        font-size: 28px;
        font-family: "Nunito", sans-serif;
    }.inputH {
        background: #fff;
        box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        padding: 10px 0;
        margin-bottom: 20px;
        margin-right: 20px;
    }.inputH label {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        margin-bottom: 20px;
    }.inputH input {
        outline: none;
        border: none;
        border-bottom: 1px solid #000000;
        width: 50%;
        text-align: center;
        font-size: 28px;
       
    }

  /* ------ BUTTON ------ */

  button.calculate:hover {
    background-image: linear-gradient(144deg,#9e0861, #c5174d 50%,#dd3f31);
    border: 0;
    transition: 2s ease all;
  }

  button.calculate {
    align-items: center;
    background-image: linear-gradient(144deg,#8a2485, #ba1377 50%,#dd2962);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    width: 100%;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    font-family: "Signika", sans-serif;
    transition: 0.3s;
  }
  
  button.calculate:active{
    outline: 0;
    
  }
  /* ------ RESULT ------ */
.result {
    padding: 10px 20px;
  }
  .result p {
    font-weight: 600;
    font-size: 22px;
    color:-webkit-linear-gradient(#eee, #333);
    margin-bottom: 15px;
  }
  .result #result {
    font-size: 36px;
    font-weight: 900;
    background-color: #eaeaea;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 55px;
    margin-bottom: 25px;

    background: -webkit-linear-gradient(#8a2485, #c5174d);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #comment {
    color: #b71a54;
    font-weight: 800;
  }

.comment {
    display: none;
    border: dashed 1px;
    border-radius: 7px;
    padding: 5px;
}

.footer {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 15px
}

.footer-text {
    text-decoration: none;
    color: rgba(40, 40, 40, 0.8);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 14px;
    transition: all 0.5;
}

.footer-text:hover {
    color: rgba(40, 40, 40, 1);
}

.gender {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background: #fff;
    box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 20px 0;
    margin-bottom: 20px;
}.gender .container {
    display: block;
    position: relative;
    padding-left: 35px;
    /* margin-bottom: 12px; */
    margin-top: 7px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }.gender .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  
  .checkmark {
    position: absolute;
    top: 25px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  

  .gender .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .gender .container input:checked ~ .checkmark {
    background-color: #8a2485;
  }
  
/* membuat indicator */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* memunculkan indicator ketika checked */
  .gender .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* styling indicator */
  .gender .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }


.containerHW {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 300px;

}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 600px;
  border-radius: 10px;
  box-shadow: #8a2485 -1px 2px 2px 1px;
}

#modalText {
  padding-top: 8px;
  padding-right: 5px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: rgb(24, 23, 23);
}

.modal-wrong {
border: 2px solid red;
}

.modal-correct {
  border: 2px solid green;
  }

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.close:hover {
  color: #d41111; 
}

/* Responsive untuk mobile */
@media (max-width: 700px){
    .box {
        width: 380px;
    }
    .input label {
        font-size: 18px;
    }
    .inputH label, .inputW label {
        font-size: 14px;
    }
    .input input, .inputH input, .inputW input{
        font-size: 24px;
    }
    .modal-content {

      width: 380px;
    }

}